<template name="Header">
  <a style="color:black" class="item aloha" href="{{pathFor 'Home_Page'}}">
    <img style="max-height: 400px" class="ui centered image" src="/images/home-page-logo.png">
  </a>
  <div style="margin-top: -50px; margin-bottom: -10px; border-radius: 0; box-shadow: none; border: none; background-color: #ffffff"
       class="ui borderless menu">
    <div class="ui centered grid container">

      <a style="color:black" class="{{ isActiveRoute 'List_Markets_Page'}} item"
         href="{{ pathFor 'List_Markets_Page' }}"><h3>All Markets</h3></a>

      <a style="color:black" class="{{ isActiveRoute 'Search_Page'}} item" href="{{ pathFor 'Search_Page' }}"><h3>
        Markets Nearby</h3></a>

      <div class="ui dropdown item">
        <a style="color:black" class="{{ isActiveRoute 'Find_By_City'}} item"><h3>
          Find
          by City</h3></a>
        <div class="menu">
          <div class="item"><a>Honolulu</a></div>
          <div class="item"><a>Ewa Beach</a></div>
          <div class="item"><a>Haleiwa</a></div>
          <div class="item"><a>Waipahu</a></div>
          <div class="item"><a>Waianae</a></div>
        </div>
      </div>

      <div class="ui dropdown item">
      <a style="color:black" class="{{ isActiveRoute 'Find_By_Day'}} item"><h3>Find
        by Day</h3></a>
        <div class="menu">
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Sunday' }}">Sunday</a></div>
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Monday' }}">Monday</a></div>
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Tuesday' }}">Tuesday</a></div>
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Wednesday' }}">Wednesday</a></div>
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Thursday' }}">Thursday</a></div>
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Friday' }}">Friday</a></div>
          <div class="item"><a style="color:black" href="{{ pathFor 'Find_By_Day_Saturday' }}">Saturday</a></div>
        </div>
      </div>

    </div>
  </div>
</template>